.card {
  border: 1px solid gray;
  border-top: 4px solid rgb(112, 204, 112);
  border-radius: 20px;
  max-width: 100%;
  padding: 20px;
}

.anime_cover {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.before {
  font-weight: bold;
}

.card-header {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn_update {
  padding: 5px 10px 5px 10px;
}
